#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.my-div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgba(242, 86, 240, 0.94);
  padding: 1rem;
  font-size: 30px;
  z-index: 999;
}

body {
  margin-top: 80px;
}